<div class="container-contact1001">
    <div class="wrap-contact1001">
        <form #clientForm="ngForm" class="contact1001-form validate-form">
            <span class="contact1001-form-title">
                Veuillez saisir vos informations
            </span>
          
            <label class="label-input1001" for="first-name">Votre nom *</label>
            <div class="wrap-input1001 rs1-wrap-input1001 validate-input" data-validate="Veuillez entrer votre  nom">
                <input id="first-name" class="input1001" type="text" name="first-name" placeholder="Votre nom" [(ngModel)]="client.nom">
                <span class="focus-input1001"></span>
            </div>
            <div class="wrap-input1001 rs2-wrap-input1001 validate-input" data-validate="Veuiller écrire votre prénom">
                <input class="input1001" type="text" name="sur-name" placeholder="votre prénom" [(ngModel)]="client.sexe">
                <span class="focus-input1001"></span>
            </div>

            <label class="label-input1001" for="email">Votre email *</label>
            <div class="wrap-input1001 validate-input" data-validate = "Valid email est requis: ex@abc.xyz">
                <input id="email" class="input1001" type="email" name="email" placeholder="Ex: example@email.com" [(ngModel)]="client.mail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
                <span class="focus-input1001"></span>
            </div>

            <label class="label-input1001" for="org">Est-ce pour une organisation?  *</label>
            <div class="wrap-input1001">
                
                <select [(ngModel)]="client.status" class="custom-select form-control input1001" [(ngModel)]="client.status" name="isOrganised">
                    <option (click)=" isOrganisation = true">oui</option>
                    <option selected (click) =" isOrganisation = false" >non</option>
                  </select>
            </div>
            

            <label  *ngIf="isOrganisation" class="label-input1001" for="organ">Veuillez mentionnez le nom de celle ci *</label>
            <div class="wrap-input1001">
                <input *ngIf="isOrganisation"  id="organ" class="input1001" type="text" name="organ" placeholder="EA AND CO" ngModel>
                <span class="focus-input1001"></span>
            </div>

            <label class="label-input1001" for="phone">Votre Numéro de téléphone *</label>
            <div class="wrap-input1001">
                <input id="phone" class="input1001" type="tel" name="phone" placeholder="Ex: +228 70014512" [(ngModel)]="client.contact">
                <span class="focus-input1001"></span>
            </div>

      
            <label class="label-input1001" for="capacity">Le nom de l'évènement  *</label>
            <div class="wrap-input1001">
                <input id="phone" class="input1001" type="text" name="capacity" placeholder="remise de diplome" [(ngModel)]="reservation.nomev">
                <span class="focus-input1001"></span>
            </div>


            
            <label class="label-input1001" for="begin"> Date et Heure de départ</label>
            <div class="wrap-input1001 validate-input" data-validate = "Date et Heure de début">
                <input id="begin" class="input1001" min= "{{today| date:'yyyy-MM-dd'}}" max = "2023-12-20" type="date" name="begin" placeholder="Date et Heure de début" [(ngModel)]="reservation.heuredep" value="2018-02-27T21:10">
                <span class="focus-input1001"></span>
            </div>

            <label class="label-input1001" for="end"> Date et Heure de fin</label>
            <div class="wrap-input1001 validate-input" data-validate = "Date et Heure de fin">
                <input id="end" class="input1001" type="date" min= "{{today| date:'yyyy-MM-dd'}}" max="2023-12-25"  name="end" placeholder="Date et Heure de fin" [(ngModel)]="reservation.heurefin">
                <span class="focus-input1001"></span>
            </div> 


            <label class="label-input1001" for="capacity">Le nombre de personnes  *</label>
            <div class="wrap-input1001">
                <input id="people" [min]="min" [max]="max" class="input1001" type="number" name="capacity" placeholder="Ex: 100" [(ngModel)]="reservation.nbrpers">
                <span class="focus-input1001"></span>
            </div>

      

  

            <div class="container-contact1001-form-btn">
                
                <button class="contact1001-form-btn"  (click)="onModify()" >
                    Envoyer
                </button>
                
            </div>

            <label class="label-input1001" for="org">Souhaitez vous reservez des équipements?  *</label>
            <div class="wrap-input1001">
                
                <select  class="custom-select form-control input1001" [(ngModel)]="client.status" name="wantEquipement">
                    <option (click)=" isOrganisation = true" data-toggle="modal" data-target="#exampleModalCenter">oui</option>
                    <option selected (click) =" isOrganisation = false" >non</option>
                  </select>
            </div>
            

          


           <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Choix d'équipement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-equipement (sendRequestToData) = "processRequest($event)"></app-equipement>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer </button>
          <button type="button" class="btn btn-primary">Ok</button>
        </div>
      </div>
    </div>
  </div>


        </form>

        <div class="contact1001-more flex-col-c-m" style="background-image: url('/assets/images/client/bg-01.jpg');">
            <div class="flex-w size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-map-marker"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
                        Address
                    </span>

                    <span class="txt2">
                        Lomé , Togo
                    </span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-phone-handset"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
                        Téléphone
                    </span>

                    <span class="txt3">
                        +228 90909090
                    </span>
                </div>
            </div>

            <div class="dis-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span class="lnr lnr-envelope"></span>
                </div>

                <div class="flex-col size2">
                    <span class="txt1 p-b-20">
                        Notre Adresse mail
                    </span>

                    <span class="txt3">
                        projetmairie228@gmail.com
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
</script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>