  <div class="body4">
 

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Events</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Events</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Event List Section ======= -->
    <section id="#event-list" class="event-list">
      <div class="container">

        <div class="row">
          <div *ngFor="let salle of listSalle" class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="assets/images/managereservation/togo-lome-birdeye-plane.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{salle.nomev}}</h5>
                <p class="font-italic text-center">{{salle.heuredep}} a {{salle.heurefin}}</p>
                <p class="card-text">Le client repondant au nom de {{salle.nom}} souhaite reserver la salle {{salle.nomsal}},{{salle.adress}} pour {{salle.nbrpers}} participants. Ce client est joignable sur {{salle.mail}} {{salle.status ==='non' ? 'salle.prix' :'gratuit'}} </p>
              <button class="design custom-select" [routerLink]="['/actionmail'] " [queryParams]="{mail:salle.mail,idreserv:salle.id,nomclient:salle.nom,evnom:salle.nomev,hrdep:salle.heuredep,hrfin:salle.heurefin,nomsal:salle.nomsal}"> Décision </button>
              </div>
            </div>

              
          </div>
          
        </div>

      </div>
    </section><!-- End Event List Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer4">
    <div class="container">
      <h3>La Mairie</h3>
      <p>Depuis de longues années a votre service , maintenant bien plus encore avec la toile.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MeFamily</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version.  <select  class="design custom-select"(change)="navigateTo($event.target.value)"  >
                  <option >Action</option>
                  <option  value="actionmail" (click)="clc.mail = salle.mail" >Accepter</option>
                  <option value="actionmail">Rejeter</option>
                  <option  >Modifier</option>
                  <option>Supprimer</option>
                   </select>-->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->


  
  

  
</div>



    