<!--<p>accueil works!</p>
<div class="alert alert-success">
bonjour Boostrap <i class="fa fa-smile-o" aria-hidden="true"></i>
</div>

<div [style.backgroundColor]="color">
    <p>
        lele {{bgColor}}
    </p>

</div>
<button class="btn btn-danger" (click)="changeStatus()"> Allumer/Eteind</button>

<input [(ngModel)]="color" type="text" class="form-control" >

le contenu de la propriété color est {{color}}
<button (click)="sendEvent()" class="btn btn-danger"  >la force</button>
-->
<h1> File Upload </h1>

<input type="file" id="thepic" (change)="onFileSelected($event)">
<button type="button" (click)="onUpload()"> upload</button>
<p> {{em}}</p>

<!--<input type="file" class="custom-file-input" id="customFileLangHTML">-->
<!--<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile01"
        aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
  </div>-->


  <div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

    </div>
</div>

<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>
</div>

  